@media only screen and (max-width: 1100px) {

body { 
    max-width: 100vw !important;
    overflow-x: hidden;
}

    input  {
        margin: 0 15px;
        min-width: 280px !important;
        max-width: 75% !important;
    }

    .span-responsive { 
        margin: 0 15px;
    }
    h2 {
        font-size: 28px !important;
        //  margin-top: 80px !important;
    }

    .steps {
        width: 100vw;

        .single-line {
            min-width: 6px !important;
        }
    }

    .single-step { 
        max-width: 100vw !important;
    }

    section {
        // margin-top: 80px;
        max-width: 100vw !important;
        overflow-y: auto;
        overflow-x: hidden;

        h2 {
            margin-top: 120px !important;
        }

        .home-options-all,
        .credit-options-all, .employment-options-all {
            flex-flow: column !important;
            flex-wrap: nowrap;
            width: 100vw !important;
            margin-top: 20px !important;
            left: 0 !important;
            justify-content: center !important;
        }

        .home-option,
        .tax-option, .employment-option{
            margin-left: auto !important;
            margin-right: auto !important;
            align-self: baseline !important;
        }
    }

    
    #error-home, #error-home-type, #error-credit-score {
        margin-top: 20px;
        background: white;
        width: 100vw !important;
        margin-left: auto;
        margin-right: auto;
        max-height: 250px;
        justify-content: center;
        margin-bottom: 20px !important;
        // flex-wrap: wrap !important;

        h2,
        h4 {
            margin: 5px 10px !important;
        }

        h4 {
            margin-top: 10px !important;
        }

    }
    
    .address-box { 
        width: 320px !important;
    }
}

// @media only screen and (min-width: 701px) and (max-width: 1100px) { 
//     section {
//         max-width: 100vw !important;
//         overflow-y: auto;
//         overflow-x: hidden;
//     }
// }