@media only screen and (max-width: 1100px) {
  body {
    max-width: 100vw !important;
    overflow-x: hidden; }

  input {
    margin: 0 15px;
    min-width: 280px !important;
    max-width: 75% !important; }

  .span-responsive {
    margin: 0 15px; }

  h2 {
    font-size: 28px !important;
    margin-top: 80px !important; }

  .steps {
    width: 100vw; }
    .steps .single-line {
      min-width: 6px !important; }

  .single-step {
    max-width: 100vw !important; }

  section {
    max-width: 100vw !important;
    overflow-y: auto;
    overflow-x: hidden; }
    section .home-options-all,
    section .credit-options-all, section .employment-options-all {
      flex-flow: column !important;
      flex-wrap: nowrap;
      width: 100vw !important;
      margin-top: 20px !important;
      left: 0 !important;
      justify-content: center !important; }
    section .home-option,
    section .tax-option, section .employment-option {
      margin-left: auto !important;
      margin-right: auto !important;
      align-self: baseline !important; }

  #error-home, #error-home-type, #error-credit-score {
    margin-top: 20px;
    background: white;
    width: 100vw !important;
    margin-left: auto;
    margin-right: auto;
    max-height: 250px;
    justify-content: center;
    margin-bottom: 20px !important; }
    #error-home h2,
    #error-home h4, #error-home-type h2,
    #error-home-type h4, #error-credit-score h2,
    #error-credit-score h4 {
      margin: 5px 10px !important; }
    #error-home h4, #error-home-type h4, #error-credit-score h4 {
      margin-top: 10px !important; }

  .address-box {
    width: 320px !important; } }
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

@-ms-viewport {
  width: device-width; }
html,
body {
  width: 100%; }

body {
  font-family: 'Fjalla One', sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f6f7; }

:root {
  --bg-dark: #1c2730;
  --dark-texter: #303d46; }

.dark-text {
  color: var(--dark-texter); }

.container {
  display: flex; }

.row {
  flex-flow: row; }

.col {
  flex-flow: column; }

.center {
  justify-content: center; }

.hover {
  cursor: pointer; }

.bold {
  font-weight: bold; }

a {
  text-decoration: none;
  color: white; }

.hide {
  transition: all .4s;
  display: none; }

section {
  overflow-y: auto !important; }

.smaller-bullet {
  height: 40px !important;
  width: 40px !important; }

.container-all header {
  position: fixed;
  top: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
  height: 80px;
  background: white;
  z-index: 3; }
  .container-all header img {
    width: 260px;
    height: auto; }
.container-all .steps {
  background-color: #ff6900;
  height: 70px;
  position: fixed;
  top: 70px;
  left: 0px;
  width: 100%;
  z-index: 3; }
  .container-all .steps .page-bullets {
    margin: auto 0;
    height: 40%;
    width: 100%; }
    .container-all .steps .page-bullets .bullet-line-container {
      width: 40%;
      justify-content: space-evenly; }
      .container-all .steps .page-bullets .bullet-line-container .single-bullet,
      .container-all .steps .page-bullets .bullet-line-container .single-line {
        margin: auto 0; }
      .container-all .steps .page-bullets .bullet-line-container .single-bullet {
        background-color: #ff6900;
        color: white;
        border-radius: 50%;
        border: none;
        display: block;
        text-align: center;
        min-width: 30px;
        height: 30px;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
        border: solid 2px #ffffff; }
        .container-all .steps .page-bullets .bullet-line-container .single-bullet span {
          width: 100%;
          position: relative;
          top: 5px; }
      .container-all .steps .page-bullets .bullet-line-container .active {
        background-color: white;
        color: #ff6900; }
      .container-all .steps .page-bullets .bullet-line-container .single-bullet:hover {
        cursor: pointer; }
      .container-all .steps .page-bullets .bullet-line-container .single-line {
        background: rgba(255, 255, 255, 0.25);
        width: 100%;
        height: 2px;
        min-width: 25px;
        margin-bottom: 12px; }
      .container-all .steps .page-bullets .bullet-line-container .single-bullet:first-of-type {
        margin-left: 70px; }
      .container-all .steps .page-bullets .bullet-line-container .single-bullet:last-of-type {
        margin-right: 70px; }
.container-all .slider-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  text-align: center;
  margin-top: 70px;
  background-color: #f5f6f7;
  height: 100%; }
  .container-all .slider-container .wrap-steps {
    width: 900%;
    overflow: hidden;
    position: relative;
    transition: left .4s; }
    .container-all .slider-container .wrap-steps .after-address {
      width: 166px;
      height: 49px;
      border-radius: 6px;
      background-color: #3dca59;
      color: white !important;
      margin-top: 20px;
      align-self: center; }
      .container-all .slider-container .wrap-steps .after-address span {
        text-align: center;
        margin-top: auto !important;
        margin-bottom: auto !important;
        font-size: 22px;
        color: white !important; }
      .container-all .slider-container .wrap-steps .after-address .arrow {
        margin-left: 25px;
        font-size: 40px; }
    .container-all .slider-container .wrap-steps .after-address:hover {
      cursor: pointer;
      opacity: 0.7;
      transition: all .4s; }
    .container-all .slider-container .wrap-steps .single-step {
      min-width: 100vw;
      width: 100vw;
      float: left;
      padding: 0;
      margin-bottom: 50px; }
      .container-all .slider-container .wrap-steps .single-step #error-home-type {
        margin-bottom: 40px;
        background: white;
        width: 820px;
        margin-left: auto;
        margin-right: auto;
        height: 170px;
        justify-content: center; }
        .container-all .slider-container .wrap-steps .single-step #error-home-type h2,
        .container-all .slider-container .wrap-steps .single-step #error-home-type h4 {
          margin: 0 30px;
          color: #ff6900; }
        .container-all .slider-container .wrap-steps .single-step #error-home-type h4 {
          margin-top: 20px; }
        .container-all .slider-container .wrap-steps .single-step #error-home-type a {
          text-decoration: underline;
          color: inherit; }
      .container-all .slider-container .wrap-steps .single-step #error-home {
        margin-top: 70px;
        background: white;
        width: 820px;
        margin-left: auto;
        margin-right: auto;
        height: 170px;
        justify-content: center;
        margin-bottom: 40px; }
        .container-all .slider-container .wrap-steps .single-step #error-home h2,
        .container-all .slider-container .wrap-steps .single-step #error-home h4 {
          margin: 0 30px;
          color: #ff6900; }
        .container-all .slider-container .wrap-steps .single-step #error-home h4 {
          margin-top: 20px; }
        .container-all .slider-container .wrap-steps .single-step #error-home a {
          text-decoration: underline;
          color: inherit; }
      .container-all .slider-container .wrap-steps .single-step h2 {
        margin-top: 111px;
        font-size: 35px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #425563; }
      .container-all .slider-container .wrap-steps .single-step h4 {
        margin-top: 10px;
        font-size: 20px;
        color: #425563;
        font-weight: normal; }
      .container-all .slider-container .wrap-steps .single-step #error-credit-score {
        background: white;
        width: 820px;
        margin-left: auto;
        margin-right: auto;
        height: 170px;
        justify-content: center;
        margin-bottom: 40px; }
        .container-all .slider-container .wrap-steps .single-step #error-credit-score h2,
        .container-all .slider-container .wrap-steps .single-step #error-credit-score h4 {
          margin: 0 30px;
          color: #ff6900; }
        .container-all .slider-container .wrap-steps .single-step #error-credit-score h4 {
          margin-top: 20px; }
        .container-all .slider-container .wrap-steps .single-step #error-credit-score a {
          text-decoration: underline;
          color: inherit; }
      .container-all .slider-container .wrap-steps .single-step .check-own-house {
        margin-top: 45px; }
        .container-all .slider-container .wrap-steps .single-step .check-own-house .check-whole-area:hover {
          cursor: pointer;
          transition: all .4s; }
          .container-all .slider-container .wrap-steps .single-step .check-own-house .check-whole-area:hover .check {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
          .container-all .slider-container .wrap-steps .single-step .check-own-house .check-whole-area:hover span {
            color: #425563; }
          .container-all .slider-container .wrap-steps .single-step .check-own-house .check-whole-area:hover path {
            fill: #FF6900; }
        .container-all .slider-container .wrap-steps .single-step .check-own-house .check {
          background-color: #ffffff;
          border-radius: 50%;
          width: 40.7px;
          height: 40.7px; }
          .container-all .slider-container .wrap-steps .single-step .check-own-house .check svg {
            margin: auto; }
        .container-all .slider-container .wrap-steps .single-step .check-own-house .active-box {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
          .container-all .slider-container .wrap-steps .single-step .check-own-house .active-box span {
            color: #425563; }
          .container-all .slider-container .wrap-steps .single-step .check-own-house .active-box path {
            fill: #FF6900; }
        .container-all .slider-container .wrap-steps .single-step .check-own-house span {
          margin-top: 8px;
          margin-left: 18px;
          font-size: 25px;
          color: #7d8d9a; }
      .container-all .slider-container .wrap-steps .single-step .active-taxable-income {
        cursor: pointer;
        transition: all .4s; }
        .container-all .slider-container .wrap-steps .single-step .active-taxable-income .taxable-income-circle {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
        .container-all .slider-container .wrap-steps .single-step .active-taxable-income span {
          color: #425563; }
        .container-all .slider-container .wrap-steps .single-step .active-taxable-income path {
          fill: #FF6900; }
      .container-all .slider-container .wrap-steps .single-step .taxable-income-options-all .tax-option:hover {
        cursor: pointer;
        transition: all .4s; }
        .container-all .slider-container .wrap-steps .single-step .taxable-income-options-all .tax-option:hover .taxable-income-circle {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
        .container-all .slider-container .wrap-steps .single-step .taxable-income-options-all .tax-option:hover span {
          color: #425563; }
        .container-all .slider-container .wrap-steps .single-step .taxable-income-options-all .tax-option:hover path {
          fill: #FF6900; }
      .container-all .slider-container .wrap-steps .single-step .taxable-income-options-all .tax-option {
        margin-right: 40px; }
        .container-all .slider-container .wrap-steps .single-step .taxable-income-options-all .tax-option .taxable-income-circle {
          background: white;
          border-radius: 50%;
          width: 41px;
          height: 41px; }
          .container-all .slider-container .wrap-steps .single-step .taxable-income-options-all .tax-option .taxable-income-circle svg {
            margin: auto; }
      .container-all .slider-container .wrap-steps .single-step .taxable-income-options-all span {
        margin-top: 8px;
        margin-left: 10px;
        font-size: 25px;
        color: #7d8d9a; }
      .container-all .slider-container .wrap-steps .single-step .credit-options-all {
        position: relative;
        left: 30px;
        margin-top: 45px;
        flex-wrap: wrap;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto; }
        .container-all .slider-container .wrap-steps .single-step .credit-options-all .tax-option:hover {
          cursor: pointer; }
          .container-all .slider-container .wrap-steps .single-step .credit-options-all .tax-option:hover span {
            color: #425563; }
          .container-all .slider-container .wrap-steps .single-step .credit-options-all .tax-option:hover .tax-type-circle {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
          .container-all .slider-container .wrap-steps .single-step .credit-options-all .tax-option:hover #tax-circle-6 {
            background: white url(./img/6.svg) no-repeat 5px 8px; }
          .container-all .slider-container .wrap-steps .single-step .credit-options-all .tax-option:hover #tax-circle-5 {
            background: white url(./img/5.svg) no-repeat 5px 8px; }
          .container-all .slider-container .wrap-steps .single-step .credit-options-all .tax-option:hover #tax-circle-4 {
            background: white url(./img/4.svg) no-repeat 5px 8px; }
          .container-all .slider-container .wrap-steps .single-step .credit-options-all .tax-option:hover #tax-circle-3 {
            background: white url(./img/3.svg) no-repeat 5px 8px; }
          .container-all .slider-container .wrap-steps .single-step .credit-options-all .tax-option:hover #tax-circle-2 {
            background: white url(./img/2.svg) no-repeat 5px 8px; }
          .container-all .slider-container .wrap-steps .single-step .credit-options-all .tax-option:hover #tax-circle-1 {
            background: white url(./img/1.svg) no-repeat center; }
        .container-all .slider-container .wrap-steps .single-step .credit-options-all .tax-option {
          margin-right: 65px;
          margin-bottom: 27px;
          width: 200px;
          margin-left: 10px; }
          .container-all .slider-container .wrap-steps .single-step .credit-options-all .tax-option span {
            margin-top: 18px;
            margin-left: 10px;
            color: #7d8d9a; }
          .container-all .slider-container .wrap-steps .single-step .credit-options-all .tax-option .tax-type-circle {
            width: 50px;
            height: 50px;
            background: white;
            border-radius: 50%; }
          .container-all .slider-container .wrap-steps .single-step .credit-options-all .tax-option #tax-circle-6 {
            background: white url(./img/6_plain.svg) no-repeat 5px 8px; }
          .container-all .slider-container .wrap-steps .single-step .credit-options-all .tax-option #tax-circle-5 {
            background: white url(./img/5_plain.svg) no-repeat 5px 8px; }
          .container-all .slider-container .wrap-steps .single-step .credit-options-all .tax-option #tax-circle-4 {
            background: white url(./img/4_plain.svg) no-repeat 5px 8px; }
          .container-all .slider-container .wrap-steps .single-step .credit-options-all .tax-option #tax-circle-3 {
            background: white url(./img/3_plain.svg) no-repeat 5px 8px; }
          .container-all .slider-container .wrap-steps .single-step .credit-options-all .tax-option #tax-circle-2 {
            background: white url(./img/2_plain.svg) no-repeat 5px 8px; }
          .container-all .slider-container .wrap-steps .single-step .credit-options-all .tax-option #tax-circle-1 {
            background: white url(./img/1_plain.svg) no-repeat center; }
      .container-all .slider-container .wrap-steps .single-step .home-options-all {
        position: relative;
        left: 30px;
        margin-top: 45px;
        flex-wrap: wrap;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto; }
        .container-all .slider-container .wrap-steps .single-step .home-options-all h2,
        .container-all .slider-container .wrap-steps .single-step .home-options-all h4 {
          margin-left: auto;
          margin-right: auto; }
        .container-all .slider-container .wrap-steps .single-step .home-options-all .home-type-circle {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
        .container-all .slider-container .wrap-steps .single-step .home-options-all h2,
        .container-all .slider-container .wrap-steps .single-step .home-options-all h4 {
          margin-left: auto;
          margin-right: auto; }
        .container-all .slider-container .wrap-steps .single-step .home-options-all .home-option:hover {
          cursor: pointer;
          transition: all .4s; }
          .container-all .slider-container .wrap-steps .single-step .home-options-all .home-option:hover span {
            color: #425563; }
          .container-all .slider-container .wrap-steps .single-step .home-options-all .home-option:hover path {
            fill: #ff6900; }
          .container-all .slider-container .wrap-steps .single-step .home-options-all .home-option:hover .home-type-circle {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
        .container-all .slider-container .wrap-steps .single-step .home-options-all .active-house-type {
          transition: all .4s; }
          .container-all .slider-container .wrap-steps .single-step .home-options-all .active-house-type span {
            color: #425563; }
          .container-all .slider-container .wrap-steps .single-step .home-options-all .active-house-type path {
            fill: #ff6900; }
          .container-all .slider-container .wrap-steps .single-step .home-options-all .active-house-type .home-type-circle {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
        .container-all .slider-container .wrap-steps .single-step .home-options-all .home-option {
          margin-right: 65px;
          margin-bottom: 27px;
          width: 200px;
          margin-left: 10px; }
          .container-all .slider-container .wrap-steps .single-step .home-options-all .home-option .home-type-circle {
            background: white;
            height: 60px;
            width: 60px;
            border-radius: 50%; }
            .container-all .slider-container .wrap-steps .single-step .home-options-all .home-option .home-type-circle svg {
              margin: auto; }
          .container-all .slider-container .wrap-steps .single-step .home-options-all .home-option span {
            margin-top: 18px;
            margin-left: 10px;
            color: #7d8d9a; }
      .container-all .slider-container .wrap-steps .single-step .employment-options-all {
        position: relative;
        left: 30px;
        margin-top: 45px;
        flex-wrap: wrap;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto; }
        .container-all .slider-container .wrap-steps .single-step .employment-options-all h2,
        .container-all .slider-container .wrap-steps .single-step .employment-options-all h4 {
          margin-left: auto;
          margin-right: auto; }
        .container-all .slider-container .wrap-steps .single-step .employment-options-all .employment-type-circle {
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
        .container-all .slider-container .wrap-steps .single-step .employment-options-all h2,
        .container-all .slider-container .wrap-steps .single-step .employment-options-all h4 {
          margin-left: auto;
          margin-right: auto; }
        .container-all .slider-container .wrap-steps .single-step .employment-options-all .employment-option:hover {
          cursor: pointer;
          transition: all .4s; }
          .container-all .slider-container .wrap-steps .single-step .employment-options-all .employment-option:hover span {
            color: #425563; }
          .container-all .slider-container .wrap-steps .single-step .employment-options-all .employment-option:hover path {
            fill: #ff6900; }
          .container-all .slider-container .wrap-steps .single-step .employment-options-all .employment-option:hover .employment-type-circle {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
        .container-all .slider-container .wrap-steps .single-step .employment-options-all .active-employment-type {
          transition: all .4s; }
          .container-all .slider-container .wrap-steps .single-step .employment-options-all .active-employment-type span {
            color: #425563; }
          .container-all .slider-container .wrap-steps .single-step .employment-options-all .active-employment-type path {
            fill: #ff6900; }
          .container-all .slider-container .wrap-steps .single-step .employment-options-all .active-employment-type .employment-type-circle {
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
        .container-all .slider-container .wrap-steps .single-step .employment-options-all .employment-option {
          margin-right: 65px;
          margin-bottom: 27px;
          width: 200px;
          margin-left: 10px; }
          .container-all .slider-container .wrap-steps .single-step .employment-options-all .employment-option .employment-type-circle {
            background: white;
            height: 60px;
            width: 60px;
            border-radius: 50%; }
            .container-all .slider-container .wrap-steps .single-step .employment-options-all .employment-option .employment-type-circle svg {
              margin: auto; }
          .container-all .slider-container .wrap-steps .single-step .employment-options-all .employment-option span {
            margin-top: 18px;
            margin-left: 10px;
            color: #7d8d9a; }
      .container-all .slider-container .wrap-steps .single-step .address-box {
        margin-top: 25px;
        max-width: 550px;
        margin-left: auto;
        margin-right: auto;
        text-align: left; }
        .container-all .slider-container .wrap-steps .single-step .address-box span {
          margin-top: 20px;
          font-size: 16px;
          color: #7d8d9a;
          margin-bottom: 5px; }
        .container-all .slider-container .wrap-steps .single-step .address-box input {
          height: 50px;
          border: none;
          margin-bottom: 20px;
          font-size: 20px;
          color: #425563;
          text-indent: 15px; }
    .container-all .slider-container .wrap-steps .message-end {
      margin-top: 120px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      background-color: #ffffff;
      min-width: 300px;
      max-width: 744px;
      align-self: center;
      height: 241px;
      text-align: center;
      padding: 0 50px; }
      .container-all .slider-container .wrap-steps .message-end h4 {
        margin-top: 44px !important;
        font-size: 45px;
        color: #ff6900;
        margin-left: 30px;
        margin-right: 30px; }
      .container-all .slider-container .wrap-steps .message-end .top-finish {
        margin-top: -30px;
        font-size: 24px;
        color: #425563; }
      .container-all .slider-container .wrap-steps .message-end .bottom-finish {
        margin-top: 10px;
        color: #7d8d9a;
        font-size: 24px;
        margin-bottom: 42px; }

#slider-1:target ~ .wrap-steps {
  left: 0px; }

#slider-2:target ~ .wrap-steps {
  left: -100vw; }

#slider-3:target ~ .wrap-steps {
  left: -200vw; }

#slider-4:target ~ .wrap-steps {
  left: -300vw; }

#slider-5:target ~ .wrap-steps {
  left: -400vw; }

#slider-6:target ~ .wrap-steps {
  left: -500vw; }

#slider-7:target ~ .wrap-steps {
  left: -600vw; }

#slider-8:target ~ .wrap-steps {
  left: -700vw; }

#slider-9:target ~ .wrap-steps {
  left: -800vw; }

.shakeError {
  -webkit-animation: shakeAnim 0.4s 1 linear;
  -moz-animation: shakeAnim 0.4s 1 linear;
  -o-animation: shakeAnim 0.4s 1 linear; }

@-webkit-keyframes shakeAnim {
  0% {
    -webkit-transform: translate(30px); }
  20% {
    -webkit-transform: translate(-30px); }
  40% {
    -webkit-transform: translate(15px); }
  60% {
    -webkit-transform: translate(-15px); }
  80% {
    -webkit-transform: translate(8px); }
  100% {
    -webkit-transform: translate(0px); } }
@-moz-keyframes shakeAnim {
  0% {
    -moz-transform: translate(30px); }
  20% {
    -moz-transform: translate(-30px); }
  40% {
    -moz-transform: translate(15px); }
  60% {
    -moz-transform: translate(-15px); }
  80% {
    -moz-transform: translate(8px); }
  100% {
    -moz-transform: translate(0px); } }

/*# sourceMappingURL=styles.css.map */
